/* ------------------LANDING PAGE-------------------- */
.register-now{
    position: absolute;
    right: 6%;
    top: 4%;
    margin: 0;
}

footer{
    background-color: rgb(0, 0, 0);
    color: white;
    text-align: center;
    margin-top: 50px;
    padding: 40px;
}
.landing{
    height: 100svh;
    width: 100vw;
}
.landing{
    background-image: url('/images/BG.png');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}
.landing::after{
    content: '';
    position: absolute;
    top:0;right: 0;
    height: 100vh;
    width: 100vw;
    opacity: 0.8;
    background-color: #000000a5;
    /* background: linear-gradient(
        rgba(195, 1, 195, 0.25) 0%,
        rgba(162, 0, 127, 0.25) 86%,
        rgba(1, 0, 0, 1.25) 100%
      ); */

    /* background: linear-gradient(
    rgba(57, 0, 57, 0.25) 0%,
    rgba(63, 0, 50, 0.25) 86%,
    rgba(1, 0, 0, 1.25) 100%
    ); */
}

.rgf-container{
    display: none;
}
.rathinam-grand-fest, .dates{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    position: relative;
    z-index: 1;
    padding: 20px 20px 0px 20px;
}
.rathinam-grand-fest{
    margin-bottom: 15px;
}
.rathinam-grand-fest-2{
    display: none;
}
.rathinam-grand-fest img, .dates img {
    width: 100%; 
    max-width: 300px; /* limit max size */
    height: auto; /* maintain aspect ratio */
}

#rathinam {
    max-width: 280px;
}
#grand {
    max-width: 180px; 
}
#fest {
    max-width: 110px; 
}
#date1 {
    max-width: 80px;
}
#to {
    max-width: 50px; 
}
#date2 {
    max-width: 80px; 
}
#march{
    max-width: 150px;
}

.landing .main{
    display: flex;
    flex-direction: column;
    height: 100vh;
    align-items: center;
    justify-content: center;

    position: relative;
    top: -13%;
}
/* .gradient{
    background: linear-gradient(
    rgba(205, 105, 252, 0.25) 0%,
    rgba(71, 47, 255, 0.25) 86%,
    rgba(1, 0, 0, 0.25) 100%
  );
} */


/* ---CELEB CARROUSEL--- */
.celebs{
    align-self: center;
    margin-top: auto;
    display: flex;
    position: absolute;
    bottom: 0px;
}
.celebs #blob{
    z-index: 2;
    width: 18rem;
}

.container .wrapper div {
    transition: 0.8s;
}

@keyframes turner {
    0% {
        transform: rotateY(0deg);
    }
    10% {
        transform: rotateY(0deg);
    }
    50% {
        transform: rotateY(360deg);
    }
    60% {
        transform: rotateY(360deg);
    }
    100% {
        transform: rotateY(0deg);
    }
}

.container {
    position: relative;
    perspective: 800px;
    margin: 0 auto;
    width: 400px;
}

.wrapper {
    width: 400px;
    height: 400px;
    position: absolute;
    transform-style: preserve-3d;
    transition: transform 1s;
}

.strip {
    width: 400px;
    height: 20px; /* adjusting height */
    background-size: 400px 400px;
    background-repeat: no-repeat;
    backface-visibility: visible;
    animation: turner 20s infinite;
}

:root {
    --carousel-size: 200px; /* variable to resize carousel */
}

.container {
    width: var(--carousel-size);
    height: var(--carousel-size);
}

.wrapper {
    width: var(--carousel-size);
    height: var(--carousel-size);
}

.strip {
    width: var(--carousel-size);
    height: calc(var(--carousel-size) / 20); /* Divides image properly */
    background-size: var(--carousel-size) var(--carousel-size);
}

.container{
    position: absolute;
    z-index: 1;
    bottom: 135px;
    left: 44px;
}

/* -----------------GALLERY------------------- */
@import url('https://fonts.cdnfonts.com/css/ica-rubrik-black');
@import url('https://fonts.cdnfonts.com/css/poppins');
.banner{
    width: 100%;
    height: 100vh;
    text-align: center;
    overflow: hidden;
    position: relative;
}
.banner .slider{
    position: absolute;
    width: 200px;
    height: 250px;
    top: 15%;
    left: calc(50% - 100px);
    transform-style: preserve-3d;
    transform: perspective(1000px);
    animation: autoRun 20s linear infinite;
    z-index: 2;
}
@keyframes autoRun{
    from{
        transform: perspective(1000px) rotateX(-16deg) rotateY(0deg);
    }to{
        transform: perspective(1000px) rotateX(-16deg) rotateY(360deg);
    }
}

.banner .slider .item{
    position: absolute;
    inset: 0 0 0 0;
    transform: 
        rotateY(calc( (var(--position) - 1) * (360 / var(--quantity)) * 1deg))
        translateZ(550px);
}
.banner .slider .item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.banner .content{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: min(1400px, 100vw);
    height: max-content;
    padding-bottom: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
}
.banner .content h1{
    font-family: 'ICA Rubrik';
    font-size: 16em;
    line-height: 1em;
    color: #d5b5de;
    position: relative;
}
.banner .content h1::after{
    position: absolute;
    inset: 0 0 0 0;
    content: attr(data-content);
    z-index: 2;
    -webkit-text-stroke: 5px #2a1454;
    color: transparent;
}
.banner .content .author{
    font-family: Poppins;
    text-align: right;
    max-width: 200px;
}
.banner .content h2{
    font-size: 3em;
}
.banner .content .model{
    /* background-image: url(images/model.png); */
    width: 100%;
    height: 75vh;
    position: absolute;
    bottom: 0;
    left: 0;
    background-size: auto 130%;
    background-repeat: no-repeat;
    background-position: top center;
    z-index: 1;
}
@media screen and (max-width: 1023px) {
    .banner{
        height: 90vh;
    }
    .banner .slider{
        width: 160px;
        height: 200px;
        left: calc(50% - 80px);
    }
    .banner .slider .item{
        transform: 
            rotateY(calc( (var(--position) - 1) * (360 / var(--quantity)) * 1deg))
            translateZ(300px);
    }
    .banner .content h1{
        text-align: center;
        width: 100%;
        text-shadow: 0 10px 20px #000;
        font-size: 7em;
    }
    .banner .content .author{
        color: #fff;
        padding: 20px;
        text-shadow: 0 10px 20px #000;
        z-index: 2;
        max-width: unset;
        width: 100%;
        text-align: center;
        padding: 0 30px;
    }
    .layer3{
        width: 100vw;
    }
}
@media screen and (max-width: 767px) {
    .banner .slider{
        width: 100px;
        height: 150px;
        left: calc(50% - 50px);
    }
    .banner .slider .item{
        transform: 
            rotateY(calc( (var(--position) - 1) * (360 / var(--quantity)) * 1deg))
            translateZ(180px);
    }
    .banner .content h1{
        font-size: 5em;
    }
}
/* .banner{
    background: linear-gradient(
        rgba(195, 1, 195, 0.25) 0%,
        rgba(162, 0, 127, 0.25) 86%,
        rgba(1, 0, 0, 1.25) 100%
      );
} */
/* --Extra Styling:-- */
.gallery-rgf *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.gallery-rgf{
    background-color: #00000061;
    /* background-image:
            repeating-linear-gradient(
            to right, transparent 0 100px,
            #7e727e 100px 101px
            ),

            repeating-linear-gradient(
            to bottom, transparent 0 100px,
            #7e727e 100px 101px
            );
            --s: 60px; 
    
    --c:#1C2130 0 25%,#0000 0;
    --p:0 0/calc(3*var(--s)) calc(2*var(--s));
    background:
      conic-gradient(from -45deg at 75% 62.5%,var(--c)) var(--p),
      conic-gradient(from 135deg at 25% 37.5%,var(--c)) var(--p),
      repeating-conic-gradient(from 90deg,var(--c),#10061f 0 50%)
       0 0/var(--s) var(--s); */
    /* background-image: url(/images/events-page.png); */

    background-repeat: no-repeat;
    background-size: cover;
}
.gallery-rgf {
    background-color: #0f0529;
    position: relative;
    width: 100%;  
    height: 100vh;
    overflow: hidden; 
}

.gallery-rgf svg {
    position: absolute; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; /* full height of the section */
    pointer-events: none; /* Prevents it from interfering with clicks */
}


.gallery-rgf::after{
    content: '';
    position: absolute;
    top:0;right: 0;
    height: 100vh;
    width: 100vw;
    opacity: 0.8;
    background-color: #000000a5;
}


/* .gallery-rgf::before{
    position: absolute;
    width: min(1400px, 90vw);
    top: 10%;
    left: 50%;
    height: 90%;
    transform: translateX(-50%);
    content: '';
    background-image: url(images/bg.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: top center;
    pointer-events: none;
} */
  
.item img{
    border: 1px white solid;
    border-radius: 10px;
}
.item::after {
    content: "";
    z-index: -1;
    position: absolute;
    inset: 0;
    background: linear-gradient(-45deg, #fc00ff 0%, #00dbde 100% );
    transform: translate3d(0, 0, 0) scale(0.95);
    filter: blur(20px);
}



/* ---------------PICK YOUR VIBE------------------ */
.layer3{
    background-image: url('/images/pick-your-vibe.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}
.layer3::after{
    content: '';
    position: absolute;
    top:0;right: 0;
    height: 100vh;
    width: 100vw;
    opacity: 0.5;
    background-color: #600055a3;
}


@import url('https://fonts.googleapis.com/css2?family=Asset&display=swap');
.layer3 h1{
    margin: 0;
    padding: 0;   

    font-size: 6rem;
    text-align: center;
    z-index: 10;
    line-height: 1em;
    color: #d5b5de;
    position: relative;
}
.paint-order {
  paint-order: stroke fill;
}

@layer demo.support {
  h1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-transform: uppercase;
    font-size: calc(1rem + min(90px, 15vw));
    font-weight: 900;
    letter-spacing: -.175ch;
    letter-spacing: -.02ch;
    letter-spacing: 0.5ch;

    line-height: 0.9;
    color: white;
    -webkit-text-stroke: 5px #0f0529;
    text-shadow: 8px 8px #0f0529;
    
    /* > span:first-of-type {
      font-size: .75em;
    } */
    
    /* > div {
      display: flex;
      gap: .5ch;
    } */
  }
  .layer3 section, .events-container section {
    /* min-block-size: 100%; */
    /* font-family: system-ui, sans-serif; */

    /* display: grid; */
    place-content: center;
    /* gap: 15vmin; */
    
    /* display: grid; */
    /* place-items: center; */
    /* gap: 2vmin; */
  }
}
/* .layer3 h1::after{
    position: absolute;
    inset: 0 0 0 0;
    content: attr(data-content);
    z-index: 2;
    -webkit-text-stroke: 4px #860b88;
    color: transparent;
} */
.layer3::after{
    content: '';
    position: absolute;
    top:0;right: 0;
    height: 100vh;
    width: 100vw;
    opacity: 0.8;
    background-color: #000000a5;
    /* background: linear-gradient(
        rgba(195, 1, 195, 0.25) 0%,
        rgba(162, 0, 127, 0.25) 86%,
        rgba(1, 0, 0, 1.25) 100%
      ); */
}
@import url('https://fonts.googleapis.com/css2?family=Yatra+One&display=swap');
.layer3 h1{
    /* font-family: "Yatra One", serif; */
  font-weight: 400;
  font-style: normal;
}
.layer3.fixed-parallax{
    height: 60vh;
    width: 60vw;
    margin: 0 auto;
    margin-top: 13rem;
}
.black{
    /* height: 5rem; */
    /* background-color: red; */
}
/* .parallax-slide > .layer3{
    height: 60vh;
} */


/* ---------------EVENT CATEGORIES------------------- */
.categories{
    background-color: #010101;
    height: auto;
    /* padding: 60px; */
}

.event-categories {
    display: grid;
    gap: 20px;
    padding: 20px;
    position: relative;
    z-index: 1;
    justify-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 110px;
}

/* Mobile: 1 card per row */
@media (max-width: 599px) {
    a{
        transform: scale(1.2);
    }
    .event-categories {
        grid-template-columns: repeat(1, 1fr);
        gap: 100px;
        align-items: center;
    }
    h1{
        letter-spacing: 0.2ch;
    }
    .layer3.fixed-parallax{
        width: 100vw;
        height: 70vh;
    }
}

/* Tablet: 2 cards per row */
@media (min-width: 600px) and (max-width: 1167px) {
    .event-categories {
        grid-template-columns: repeat(2, 1fr);
    }
}

/* Desktop: 4 cards per row */
@media (min-width: 1168px) {
    a{
        transform: scale(1.2);
    }
    .event-categories {
        grid-template-columns: repeat(4, 1fr);
        gap: 110px;
        align-items: center;
        /* margin-left: calc(auto - 500px); */
    }
}

.event-categories .card p{
    margin: 2px;
}

.card {
    position: relative;
    width: 190px;
    height: 254px;
    background-color: #000;
    display: flex;
    flex-direction: column;
    justify-content: end;
    padding: 12px;
    gap: 12px;
    border-radius: 8px;
    cursor: pointer;
    color: white;

    letter-spacing: 0.1rem;
}
a{
    /* transform: scale(1.2); */
}
.card::before {
    content: '';
    position: absolute;
    inset: 0;
    left: -5px;
    margin: auto;
    width: 200px;
    height: 264px;
    border-radius: 10px;
    background: linear-gradient(-45deg, #e81cff 0%, #40c9ff 100% );
    z-index: -10;
    pointer-events: none;
    transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.card::after {
    content: "";
    z-index: -1;
    position: absolute;
    inset: 0;
    background: linear-gradient(-45deg, #fc00ff 0%, #00dbde 100% );
    transform: translate3d(0, 0, 0) scale(0.95);
    filter: blur(20px);
}

.heading {
    font-size: 20px;
    text-transform: capitalize;
    font-weight: 700;
}

.card p:not(.heading) {
    font-size: 14px;
    letter-spacing: 0.05rem;
    font-family: serif;
}

.card p:last-child {
    color: #e81cff;
    font-weight: 600;
    font-family: 'Courier New', Courier, monospace;
}
.card span{
    color: rgb(104, 104, 104);
    display: block;
    margin-bottom: -13px;
    
}

.card:hover::after {
    filter: blur(30px);
}

.card:hover::before {
    transform: rotate(-90deg) scaleX(1.34) scaleY(0.77);
}

.card{
    margin: 10px 0;
}

.categories .category-image{
    background-color: rgb(0, 0, 0);
    height: 139px;
    border-radius: 10px;
    background-size: cover;
    background-repeat: no-repeat;
}

.category-image#one{
    background-image: url(https://www.igdleaders.org/wp-content/uploads/2020/09/fifaeworldcupmain-20180904023118835.jpg);
}
.category-image#two{
    background-image: url(https://hpro-web-assets.s3.amazonaws.com/insights/uploads/2020/08/HARMAN_Esports-Arena_horiz.jpg);
}.category-image#three{
    background-image: url(https://i.pinimg.com/236x/c7/8a/1a/c78a1a65fd707b1832c459376545f8c3.jpg);
}.category-image#four{
    background-image: url(https://www.visionvivaah.com/blog/wp-content/uploads/2019/12/Event-organizer-for-cultural-shows.jpg);
}.category-image#five{
    background-image: url(https://images.stockcake.com/public/5/b/a/5ba0f7f2-e725-492f-83c4-9e418b38beeb_large/electronics-workshop-glow-stockcake.jpg);
}.category-image#six{
    background-image: url(https://i.pinimg.com/originals/75/48/71/7548712e96072ae4dc82dc5e4c40a15e.jpg);
}.category-image#seven{
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSH4zDgcxZ5L-M0mCAwHDDUZhYhho4XjI5iCA&s);
}.category-image#eight{
    background-image: url(https://bsmedia.business-standard.com/_media/bs/img/article/2024-12/22/full/1734884073-0374.jpg?im=FitAndFill);
}

/* TEST GROUND: */
/* .card{
    width: 250px;
    height: 314px;
}
.card::before{
    width: 260px;
    height: 324px;
} */
/* mobile: */
@media (max-width: 599px) {
    
}
/* tablet: */
@media (min-width: 600px) and (max-width: 899px) {
    
}
/* desktop: */
@media (min-width: 900px) {
    
}
/* ----------------PARALLAX EFFECT:------------------- */


.parallax-slide {
	position: relative;
	height: 100vh;
    /* background-color: red; !!! USE THIS FOR DEBUGGING */
}

.parallax-clip {
	height: 100%;
	position: absolute;
	width: 100%;
	left: 0px;
	top: 0px;
	/*clip: rect(auto, auto, auto, auto);*/
}

.fixed-parallax {
	position: relative;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	background-size: cover;
	background-position: center top;
	background-attachment: fixed;
	/* -webkit-transform: translateZ(0); */
    /* necessary for iOS */
}


/* used only as overlay for the images,
   darkens it a little in this case */
.fixed-parallax:before {
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	background: rgba(0, 0, 0, 0.2);
	content: "";
}


/* CSS specific to iOS devices */ 
@supports (-webkit-overflow-scrolling: touch) {
	.parallax-clip {
		clip: rect(auto, auto, auto, auto);
	}
	.fixed-parallax {
		position: fixed;
		background-attachment: unset;
		/* -webkit-transform: translateZ(0);  */
        /* necessary for iOS */
	}
}

/* MEDIA QUERY */
@media (min-width: 1140px) {
    .rathinam-grand-fest{ display: none}
    .landing .main{
        justify-content: center;
        top: 0;
        padding: 60px; 
        gap: 15px;
    }
    .rathinam-grand-fest-2, .dates{
        z-index: 5;
    }
    .rathinam-grand-fest-2{
        display: flex;
        /* padding: 20px 20px 0px 20px; */
        gap: 10px;
    }
    .rathinam-grand-fest-2 img{
        max-width: 1000px;
    }
    #rathinam {
        max-width: 900px;
    }
    #grand {
        max-width: 400px; 
    }
    #fest {
        max-width: 400px; 
    }
    #date1 {
        max-width: 100px;
    }
    #to {
        max-width: 70px; 
    }
    #date2 {
        max-width: 100px; 
    }
    #march{
        max-width: 170px;
    }
    
    
    .celebs{
        left: 5%;
    }
    .celebs #blob{
        width: 22rem;
    }
    :root{
        --carousel-size: 250px;
    }

    .rgf-container{
        display: block;
        z-index: 4;
        width: 1000px;
        justify-self: center;
        align-self: center;
        position: relative;
        height: 550px;
        /* height: 550px;
        border: 1px white solid; */
    }
    .rgf-halo #halo{
        width: 970px;
        position: absolute; 
        top: -4.5%;
        left: 3%;
        /* transfo7rm: translateX(-50%); Centers the image */
        /* align-items: center; */
        transform: rotate(-3deg);
        z-index: 0;
    }
    .dates{
        margin-top: -15px;
    }
    
    .rgf-halo #rgf{
        position: absolute;
        top: 130px;
        left: 270px;
        z-index: 1;
    }
    .rgf-container #orb{
        position: absolute;
        width: 300px;
        top: 10px;
        right: 10px;
        z-index: -1;
    }
    button{
        z-index: 10;
    }

    .layer3 h1{
        font-size: 8rem;

    }
    .layer3 h1::after{
        -webkit-text-stroke: 8px #860b88;

    }

    /* TESTING */
    .rgf-container {
        /* display: block; */
        /* z-index: 4; */
        /* width: 1000px; */
        height: 550px; /* Fix the height so elements inside don’t affect layout */
        /* position: relative; */
    }

}