.landing, .gallery, .categories{
    height: 100vh;
}
.landing{
    background-color: black;
}
.gallery{
    background-color: darkslateblue;
    
}
.categories{
    background-color: rgb(66, 0, 94);
}