
.celeb-carousel {
    position: absolute;
    top: 350px;
    left: 12%;
    transform: translateX(-50%);
    /* transform: rotate(-5deg); */
    width: 400px;
    height: 400px;
    overflow: hidden;

    z-index: 1;
}

.celeb-img {
    width: 75%;
    height: auto;
    position: absolute;
    opacity: 0;
}


